openapi: 3.0.3
info:
  title: NewsAPI.org Top Headlines API
  version: "1.0.1"
servers:
  - url: https://newsapi.org/v2

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer       # or "basic" if that’s what the service accepts
  schemas:
    Article:
      type: object
      properties:
        title:        { type: string }
        description:  { type: string, nullable: true }
        content:      { type: string, nullable: true }
        url:          { type: string, format: uri }
        urlToImage:   { type: string, format: uri, nullable: true }
        publishedAt:  { type: string, format: date-time }
        source:
          type: object
          properties:
            name: { type: string }
            url:  { type: string, format: uri }
    TopHeadlinesResponse:
      type: object
      properties:
        totalResults: { type: integer }
        articles:
          type: array
          items:
            $ref: '#/components/schemas/Article'
security:
  - bearerAuth: []

paths:
  /top-headlines:
    get:
      operationId: getTopHeadlines
      summary: Get recent news
      security:
        - bearerAuth: []
      parameters:
        - name: country
          in: query
          schema: { type: string, minLength: 2, maxLength: 2 }
        - name: category
          in: query
          schema: { type: string }
        - name: sources
          in: query
          schema: { type: string }
        - name: q
          in: query
          schema: { type: string }
        - name: pageSize
          in: query
          schema: { type: integer, minimum: 1, maximum: 100 }
        - name: page
          in: query
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TopHeadlinesResponse' }

